.banner{
    color:#fff;
    object-fit: contain;
    height:448px;

    &__title{
        font-size:3rem;
        font-weight: 800;
        padding-bottom: 0.3rem;
    }

    &__contents {
        margin-left:30px;
        padding-top:140px;
        max-height:190px;

    }
    &__button{
        cursor:pointer;
        color:#fff;
        outline:none;
        border:none;
        font-weight: 700;
        border-radius: 0.2vw;
        padding-left: 2rem;
        padding-right:2rem;
        margin-right:1rem;
        padding-top:0.5rem;
        padding-bottom: 0.5rem;
        background-color: rgba(51,51,51, 0.5);
        &:hover{
            color: #000;
            background-color: #e6e6e6;
            transition: all 0.2s;
        }
    }

    &__description{
        color: #fff;
        font-weight: 400;
        line-height: 1.3;
        width: 45rem;
        font-size: 1.2rem;
        text-shadow: 2px 2px 4px rgba(0,0,0,.45);
        margin-top: .1vw;
        max-width:360px;
        height:80px;
        margin-bottom:50px;
    }
    &--fadeBottom{
        height:14.4rem;
        background-image: linear-gradient(180deg, transparent, rgba(37,37,37, 061), #111);

    }
}