.nav {
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.nav__logo {
  max-width: 80px;
  -o-object-fit: contain;
     object-fit: contain;
  position: fixed;
  padding-top: 5px;
}

.nav__logo img {
  width: 100%;
  height: auto;
}

.nav__avatar {
  position: fixed;
  width: 50px;
  -o-object-fit: contain;
     object-fit: contain;
  right: 20px;
}

.nav__black {
  background-color: #141414;
}

.nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  color: #fff;
  left: 100px;
  list-style: none;
}

.nav__menu li {
  padding: 10px;
}

.nav__menu li a {
  text-decoration: none;
  color: #fff;
}
/*# sourceMappingURL=Nav.css.map */