.row{
    $self: &;
    margin-left:20px;
    h2{
        margin-left:20px;
        color:#fff;
        font-size:1.4vw;
    }
    &__posters{
        display:flex;
        overflow-y: hidden;
        overflow-x: scroll;
        padding:20px;

        &::-webkit-scrollbar{
            display:none;
        }
    }
    &__poster{
        width:100%;
        object-fit: contain;
        max-height:150px;
        cursor: pointer;
        transition: transform 0.3s;
        margin-right:10px;
        &:hover{
            transform:scale(1.08);
        }
    }
}

.row__posterLarge{
    max-height:250px;
    &:hover{
        transform: scale(1.09);
    }
}